
ion-split-pane {
    margin-top: 4rem;
}

ion-thumbnail {
    --size: 4rem;
}


.ios ion-toolbar {
    background-color: #1A1B3F;
}


form ion-item {
   border-radius: 10px;
   border: 1px solid #dedede;
} 

.danger{
    border: 2px solid var(--ion-color-danger, red);
    background-color: rgba(255, 0, 7, 0.16);
}


ion-select {
    min-width: 100%;
    padding-left: 0;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  }
